# This is Jeopardy!

#### Project Goals

You will work to write several functions that investigate a dataset of _Jeopardy!_ questions and answers. Filter the dataset for topics that you're interested in, compute the average difficulty of those questions, and train to become the next Jeopardy champion!

## Project Requirements

1. We've provided a csv file containing data about the game show _Jeopardy!_ in a file named `jeopardy.csv`. Load the data into a DataFrame and investigate its contents. Try to print out specific columns.

   Note that in order to make this project as "real-world" as possible, we haven't modified the data at all - we're giving it to you exactly how we found it. As a result, this data isn't as "clean" as the datasets you normally find on Codecademy. More specifically, there's something odd about the column names. After you figure out the problem with the column names, you may want to rename them to make your life easier for the rest of the project.
   
   In order to display the full contents of a column, we've added this line of code for you:
   
   ```py
   pd.set_option('display.max_colwidth', None)
   ```

In [3]:
from pydoc import describe
import pandas as pd
pd.set_option('display.max_colwidth', None)

jeopardy_data = pd.read_csv('jeopardy.csv',
                            parse_dates=[1])


#Cleaning column names!!
notclean_names = jeopardy_data.columns.values.tolist() #List of column names, some have white spaces on them!

jeopardy_data.columns = [c.strip() for c in jeopardy_data.columns.values.tolist()]

jeopardy_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 216930 entries, 0 to 216929
Data columns (total 7 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Show Number  216930 non-null  int64
 1   Air Date     216930 non-null  datetime64[ns]
 2   Round        216930 non-null  object
 3   Category     216930 non-null  object
 4   Value        216930 non-null  object
 5   Question     216930 non-null  object
 6   Answer       216928 non-null  object
dtypes: datetime64[ns](1), int64(1), object(5)
memory usage: 11.6+ MB

2. Write a function that filters the dataset for questions that contains all of the words in a list of words. For example, when the list `["King", "England"]` was passed to our function, the function returned a DataFrame of 49 rows. Every row had the strings `"King"` and `"England"` somewhere in its `" Question"`.

   Test your function by printing out the column containing the question of each row of the dataset.

In [5]:
from pickle import FALSE

def questioner(*keyword):
    wordlist = []
    for k in keyword:
        wordlist.append(k)
    filter = lambda x : all(w.lower() in x.lower() for w in wordlist)
    filtered_data= jeopardy_data[jeopardy_data['Question'].apply(filter)]
    return filtered_data

filtered_data = questioner("king","england")
filtered_data

,Show Number,Air Date,Round,Category,Value,Question,Answer
4953,3003,1997-09-24,Double Jeopardy!,"""PH""UN WORDS",$200,"Both England's King George V & FDR put their stamp of approval on this ""King of Hobbies""",Philately (stamp collecting)
6337,3517,1999-12-14,Double Jeopardy!,Y1K,$800,"In retaliation for Viking raids, this ""Unready"" king of England attacks Norse areas of the Isle of Man",Ethelred
9191,3907,2001-09-04,Double Jeopardy!,WON THE BATTLE,$800,This king of England beat the odds to trounce the French in the 1415 Battle of Agincourt,Henry V
11710,2903,1997-03-26,Double Jeopardy!,BRITISH MONARCHS,$600,"This Scotsman, the first Stuart king of England, was called ""The Wisest Fool in Christendom""",James I
13454,4726,2005-03-07,Jeopardy!,A NUMBER FROM 1 TO 10,$1000,It's the number that followed the last king of England named William,4
...,...,...,...,...,...,...,...
208295,4621,2004-10-11,Jeopardy!,THE VIKINGS,$600,In 1066 this great-great grandson of Rollo made what some call the last Viking invasion of England,William the Conqueror
208742,4863,2005-11-02,Double Jeopardy!,BEFORE & AFTER,"$3,000",Dutch-born king who ruled England jointly with Mary II & is a tasty New Zealand fish,William of Orange roughy
213870,5856,2010-02-15,Double Jeopardy!,URANUS,$1600,In 1781 William Herschel discovered Uranus & initially named it after this king of England,George III
216021,1881,1992-11-09,Double Jeopardy!,HISTORIC NAMES,$1000,"His nickname was ""Bertie"", but he used this name & number when he became king of England in 1901",Edward VII
216789,5070,2006-09-29,Double Jeopardy!,ANCIENT HISTORY,$1200,"This kingdom of England grew from 2 settlements, one founded around 495 by Cerdic & his son Cynric",Wessex

3. Test your original function with a few different sets of words to try to find some ways your function breaks. Edit your function so it is more robust.

   For example, think about capitalization. We probably want to find questions that contain the word `"King"` or `"king"`.
   
   You may also want to check to make sure you don't find rows that contain substrings of your given words. For example, our function found a question that didn't contain the word `"king"`, however it did contain the word `"viking"` &mdash; it found the `"king"` inside `"viking"`. Note that this also comes with some drawbacks &mdash; you would no longer find questions that contained words like `"England's"`.

4. We may want to eventually compute aggregate statistics, like `.mean()` on the `" Value"` column. But right now, the values in that column are strings. Convert the`" Value"` column to floats. If you'd like to, you can create a new column with float values.

   Now that you can filter the dataset of question, use your new column that contains the float values of each question to find the "difficulty" of certain topics. For example, what is the average value of questions that contain the word `"King"`?
   
   Make sure to use the dataset that contains the float values as the dataset you use in your filtering function.

In [ ]:
float_value = lambda x : float(x[1:].replace(',','')) if x != "None" else 0

jeopardy_data['Value'] = jeopardy_data['Value'].apply(float_value)
jeopardy_data.head(5)

In [162]:
#Mean value for filtered data that comes from the 'questioneer' function

filtered_data['Value'].mean()

886.8421052631579

5. Write a function that returns the count of unique answers to all of the questions in a dataset. For example, after filtering the entire dataset to only questions containing the word `"King"`, we could then find all of the unique answers to those questions. The answer "Henry VIII" appeared 55 times and was the most common answer.

In [158]:
def n_answers(data):
    print(f"This questions contains {data['Answer'].nunique()} answers!")
    return pd.DataFrame(data['Answer'].unique(),
                        columns=['Answer'])

n_answers(filtered_data)

This questions contains 114 answers!

                           Answer
0    Philately (stamp collecting)
1                        Ethelred
2                         Henry V
3                         James I
4                               4
..                            ...
109                         Wales
110                     King John
111    The Little Prince of Wales
112               Captain Jenkins
113      William of Orange roughy

[114 rows x 1 columns]

6. Explore from here! This is an incredibly rich dataset, and there are so many interesting things to discover. There are a few columns that we haven't even started looking at yet. Here are some ideas on ways to continue working with this data:

 * Investigate the ways in which questions change over time by filtering by the date. How many questions from the 90s use the word `"Computer"` compared to questions from the 2000s?
 * Is there a connection between the round and the category? Are you more likely to find certain categories, like `"Literature"` in Single Jeopardy or Double Jeopardy?
 * Build a system to quiz yourself. Grab random questions, and use the <a href="https://docs.python.org/3/library/functions.html#input">input</a> function to get a response from the user. Check to see if that response was right or wrong.

In [174]:
computer_jeopardy = questioner("Computer")
#We filter for years less than 2000 and count them
old_shows = computer_jeopardy[computer_jeopardy['Air Date'].dt.year < 2000]['Show Number'].count()

#We filter for years less or equal to 2000 and count them

modern_shows = computer_jeopardy[computer_jeopardy['Air Date'].dt.year >= 2000]['Show Number'].count()

#Percentage difference

(modern_shows - old_shows) / old_shows *100

## There was a 214% increase in the word computer in questions!!!

214.4230769230769